<div class="container">
  <div class="col-md-8">
    <h1><%= @wiki.title %></h1>
    <p><%= @wiki.body %></p>
  </div>
  <div class="col-md-6">
    <div class="btn-group btn-group-justified">
      <%= link_to "Index", authenticate_root_path, class: 'btn btn-info' %>
      <%= link_to "Edit", edit_wiki_path, class: 'btn btn-warning' %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
    </div>
  </div>
</div>
