<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav nav-tabs">
          <li><%= link_to "Index", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if user_signed_in? %>
            <li class="navbar-text navbar-right"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>: <strong ><%= current_user.email %></strong></li>
            <li class="navbar-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'nav-tabs' %></li>
            <% if current_user.standard? %>
              <li class="navbar-right"><%= link_to 'Upgrade', new_charge_path %></li>
            <% elsif current_user.premium? %>
              <li class="navbar-right"><%= link_to 'Downgrade', downgrade_path, data: {confirm: 'Private wikis will become public. Are you sure you want to downgrade your account?'} %></li>
            <% end %>
            <li class="navbar-right"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-tabs' %></li>
          <% else %>
            <li class="navbar-right"><%= link_to "Sign Up", new_user_registration_path %></li>
            <li class="navbar-right"><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
